# Default ignored files
/../../../WebstormProject./db/.idea/shelf/
/../../../WebstormProject./db/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../WebstormProject./db/.idea/httpRequests/
